.bg-color {
  color:#BFBFBF;
  padding-top: 8px;
  font-size:14px
}
.svg-margin {
  margin-bottom: -5px;
}
.ngx-gallery { display: inline-block; margin-bottom: 20px; }
.price-span {
  color: #565D6D;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.s {
 color: #565D6D;
 font-family: Source Sans Pro;
}
.border-line {
  border-bottom:4px solid #FFB506
}
.border-line2 {
  border-bottom:4px solid rgb(33, 33, 161)
}
.f-right {
  float: right;
}
.row-border {
  border-bottom: 2px solid #BFBFBF;
}
.s-last {
  font-size: 16px;

    font-weight: 500;

}
.title {
  font-size: 18px;

  font-weight: bold;
}
.span-size {
  font-size: 13px;
}
.star-btn {
  position: relative;
  top: -156px;
    float: right;

}
.youtube-btn {
  position: relative;
  bottom: 46px;
  float: left;
  left: 0;

}


.camera-btn {
  position: relative;
  bottom: 41px;
  float: right;
  left: 22px;

}
.s {
  font-family: Source Sans Pro;
  color:#565D6D;
}
.p-bottom {
  padding-bottom: 9px;
}
