.sidebar-icons
{
    fill:#fdb415;
}

.sidebar-icons-active
{
    fill:#214497;
}

.m-settings
{
    margin-left: 12px;
}

.m-profile
{
    margin-left: 6px;
}

.m-contcts
{
    margin-left: 10px;
}

.m-home
{
    margin-left: 12px;
}

#icons, #icons1
{
    transition: 0.5s;
}

.link-color
{
    color: #565d6d;
}

.mt-n10
{
    margin-top: -10px;
}


.open-btn-p
{
    padding: 32px 20px 32px 21px;
}

.pt-110
{
    padding-top: 110px;
}


