<div class="container-fluid p-4">
  <div class="row pl-4 pr-4">
    <div class="col-md-9 mt-4">
      <div class="row">
        <div class="col-md-8 pl-2 pr-2">
          <div class="row">


          <div class="col-2 border-line p-0 m-0" [ngClass]="{active: selectedvalue ==1}" (click)="SelectedTab(1)">
            <p class="s text-center">Photos</p>

          </div>
          <div class="col-2 border-line  p-0 m-0" [ngClass]="{active: selectedvalue ==2}" (click)="SelectedTab(2)">
            <p class="s text-center">Map</p>
          </div>

          <div class="col-2 border-line  p-0 m-0" [ngClass]="{active: selectedvalue ==3}" (click)="SelectedTab(3)">
            <p class="s text-center">Schools</p>
          </div>

          <div class="col-2 border-line  p-0 m-0" [ngClass]="{active: selectedvalue ==4}" (click)="SelectedTab(4)">
            <p class="s text-center">Shop & Eat</p>
          </div>

          <div class="col-4 border-line  p-0 m-0" [ngClass]="{active: selectedvalue ==5}" (click)="SelectedTab(5)">
            <p class="s text-center">Propertie #1234567890</p>
          </div>

        </div>
        </div>
        <div class="col-md-4">
          <div class="row border-line custom-padding">


          <div class="col-3">
            <svg id="Group_7057" data-name="Group 7057" xmlns="http://www.w3.org/2000/svg" width="24" height="31.851" viewBox="0 0 24 31.851">
              <g id="message_black_24dp">
                <path id="Path_4020" data-name="Path 4020" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_4021" data-name="Path 4021" d="M4,4H20V16H5.17L4,17.17V4M4,2A2,2,0,0,0,2.01,4L2,22l4-4H20a2.006,2.006,0,0,0,2-2V4a2.006,2.006,0,0,0-2-2ZM6,12H18v2H6ZM6,9H18v2H6ZM6,6H18V8H6Z" fill="#214497"/>
              </g>
              <text id="Chat" transform="translate(4 20.851)" fill="#565d6d" font-size="8" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="0" y="8">Chat</tspan></text>
            </svg>

          </div>
          <div class="col-3">
            <svg id="Group_7061" data-name="Group 7061" xmlns="http://www.w3.org/2000/svg" width="24" height="30.926" viewBox="0 0 24 30.926">
              <text id="Share" transform="translate(2 19.926)" fill="#565d6d" font-size="8" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="0" y="8">Share</tspan></text>
              <g id="share_black_24dp" transform="translate(0)">
                <path id="Path_4186" data-name="Path 4186" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_4187" data-name="Path 4187" d="M18,16.08a2.912,2.912,0,0,0-1.96.77L8.91,12.7A3.274,3.274,0,0,0,9,12a3.274,3.274,0,0,0-.09-.7l7.05-4.11A2.993,2.993,0,1,0,15,5a3.274,3.274,0,0,0,.09.7L8.04,9.81a3,3,0,1,0,0,4.38l7.12,4.16a2.821,2.821,0,0,0-.08.65A2.92,2.92,0,1,0,18,16.08ZM18,4a1,1,0,1,1-1,1A1,1,0,0,1,18,4ZM6,13a1,1,0,1,1,1-1A1,1,0,0,1,6,13Zm12,7.02a1,1,0,1,1,1-1A1,1,0,0,1,18,20.02Z" fill="#214497"/>
              </g>
            </svg>


          </div>
          <div class="col-3">
            <svg id="Group_7064" data-name="Group 7064" xmlns="http://www.w3.org/2000/svg" width="24.086" height="32" viewBox="0 0 24.086 32">
              <text id="Save" transform="translate(4 21)" fill="#565d6d" font-size="8" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="0" y="8">Save</tspan></text>
              <g id="folder_special_black_24dp" transform="translate(0 0.149)">
                <path id="Path_4276" data-name="Path 4276" d="M0,0H24V24H0Z" fill="none"/>
              </g>
              <g id="grade_black_24dp" transform="translate(0.086)">
                <path id="Path_4278" data-name="Path 4278" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_4279" data-name="Path 4279" d="M12,7.13l.97,2.29.47,1.11,1.2.1,2.47.21-1.88,1.63-.91.79.27,1.18.56,2.41-2.12-1.28L12,14.93l-1.03.62L8.85,16.83l.56-2.41.27-1.18-.91-.79L6.89,10.82l2.47-.21,1.2-.1.47-1.11L12,7.13M12,2,9.19,8.63,2,9.24l5.46,4.73L5.82,21,12,17.27,18.18,21l-1.64-7.03L22,9.24l-7.19-.61Z" fill="#214497"/>
              </g>
            </svg>


          </div>
          <div class="col-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <g id="Group_5757" data-name="Group 5757" transform="translate(24 24) rotate(180)">
                <g id="Component_114_363" data-name="Component 114 – 363" transform="translate(24 24) rotate(-180)">
                  <g id="more_vert_black_24dp_1_" data-name="more_vert_black_24dp (1)" transform="translate(0 0)">
                    <path id="Path_4100" data-name="Path 4100" d="M0,0H24V24H0Z" fill="none"/>
                    <path id="Path_4101" data-name="Path 4101" d="M2,4A2,2,0,1,0,0,2,2.006,2.006,0,0,0,2,4ZM2,6A2,2,0,1,0,4,8,2.006,2.006,0,0,0,2,6Zm0,6a2,2,0,1,0,2,2A2.006,2.006,0,0,0,2,12Z" transform="translate(10 4)" fill="#214497"/>
                  </g>
                </g>
              </g>
            </svg>

          </div>
        </div>
        </div>
      </div>
      <!-- 2nd row  -->

      <div class="row mt-2 specific-row-height">
        <ng-container
        *ngFor="let item of images">

        <div class="col-md-6 specific-height mt-1 " *ngIf="item.id ==1" >
          <svg id="photo_camera_black_24dp" xmlns="http://www.w3.org/2000/svg" width="147.843" height="147.843" viewBox="0 0 147.843 147.843">
            <path id="Path_4057" data-name="Path 4057" d="M0,0H147.843V147.843H0Z" fill="none"/>
            <path id="Path_4058" data-name="Path 4058" d="M76.661,14.32,87.934,26.64h24.949v73.921H14.32V26.64H39.269L50.542,14.32H76.661M82.082,2H45.121L33.848,14.32H14.32A12.356,12.356,0,0,0,2,26.64v73.921a12.356,12.356,0,0,0,12.32,12.32h98.562a12.356,12.356,0,0,0,12.32-12.32V26.64a12.356,12.356,0,0,0-12.32-12.32H93.355ZM63.6,45.121A18.48,18.48,0,1,1,45.121,63.6,18.535,18.535,0,0,1,63.6,45.121m0-12.32A30.8,30.8,0,1,0,94.4,63.6,30.812,30.812,0,0,0,63.6,32.8Z" transform="translate(10.32 10.32)" fill="#e7e7e7"/>
          </svg>

          <!-- <img src="{{item.src}}" style="width: 100%; height: 100%;" alt=""> -->
        </div>
        <div class="col-md-4 specific-height2 mt-1 "*ngIf="item.id ==2">
          <svg id="photo_camera_black_24dp" xmlns="http://www.w3.org/2000/svg" width="147.843" height="147.843" viewBox="0 0 147.843 147.843">
            <path id="Path_4057" data-name="Path 4057" d="M0,0H147.843V147.843H0Z" fill="none"/>
            <path id="Path_4058" data-name="Path 4058" d="M76.661,14.32,87.934,26.64h24.949v73.921H14.32V26.64H39.269L50.542,14.32H76.661M82.082,2H45.121L33.848,14.32H14.32A12.356,12.356,0,0,0,2,26.64v73.921a12.356,12.356,0,0,0,12.32,12.32h98.562a12.356,12.356,0,0,0,12.32-12.32V26.64a12.356,12.356,0,0,0-12.32-12.32H93.355ZM63.6,45.121A18.48,18.48,0,1,1,45.121,63.6,18.535,18.535,0,0,1,63.6,45.121m0-12.32A30.8,30.8,0,1,0,94.4,63.6,30.812,30.812,0,0,0,63.6,32.8Z" transform="translate(10.32 10.32)" fill="#e7e7e7"/>
          </svg>

          <!-- <img src="{{item.src}}"  style="width: 100%; height: 100%;"  alt=""> -->

        </div>
      </ng-container>>




      </div>

    </div>
    <div class="col-md-3 ">
      <!-- ist row  -->
      <div class="row">
        <div class="col-12 float-right">
          <svg id="clear_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path id="Path_2043" data-name="Path 2043" d="M0,0H24V24H0Z" fill="none"/>
            <path id="Path_2044" data-name="Path 2044" d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z" fill="#214497"/>
          </svg>
        </div>

      </div>
      <!-- 2nd row  -->
      <div class="row pl-2 pr-2 custom-padding">
        <div class="col-3 border-line p-0 m-0"  (click)="SelectedTab1(1)">
          <svg id="Group_5729" data-name="Group 5729" xmlns="http://www.w3.org/2000/svg" width="27" height="31.851" viewBox="0 0 27 31.851">
            <g id="person_add_black_24dp">
              <path id="Path_3947" data-name="Path 3947" d="M0,0H24V24H0Z" fill="none"/>
              <path id="Path_3948" data-name="Path 3948"  [ngClass]="{active1: selectedvalue1 ==1}" d="M15,12a4,4,0,1,0-4-4A4,4,0,0,0,15,12Zm0-6a2,2,0,1,1-2,2A2.006,2.006,0,0,1,15,6Zm0,8c-2.67,0-8,1.34-8,4v2H23V18C23,15.34,17.67,14,15,14ZM9,18c.22-.72,3.31-2,6-2s5.8,1.29,6,2ZM6,15V12H9V10H6V7H4v3H1v2H4v3Z" fill="#214497"/>
            </g>
            <text id="Contact" transform="translate(0 20.851)" fill="#565d6d" font-size="8"  [ngClass]="{active1: selectedvalue1 ==1}" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="0" y="8">Contact</tspan></text>
          </svg>

        </div>
        <div class="col-2 border-line p-0 m-0" [ngClass]="{active1: selectedvalue1 ==2}" (click)="SelectedTab1(2)">
          <svg id="Group_5728" data-name="Group 5728" xmlns="http://www.w3.org/2000/svg" width="24" height="31.851" viewBox="0 0 24 31.851">
            <g id="message_black_24dp">
              <path id="Path_4020" data-name="Path 4020" d="M0,0H24V24H0Z" fill="none"/>
              <path id="Path_4021" data-name="Path 4021"  [ngClass]="{active1: selectedvalue1 ==2}" d="M4,4H20V16H5.17L4,17.17V4M4,2A2,2,0,0,0,2.01,4L2,22l4-4H20a2.006,2.006,0,0,0,2-2V4a2.006,2.006,0,0,0-2-2ZM6,12H18v2H6ZM6,9H18v2H6ZM6,6H18V8H6Z" fill="#565d6d"/>
            </g>
            <text id="Chat" transform="translate(4 20.851)" fill="#565d6d" font-size="8"  [ngClass]="{active1: selectedvalue1 ==2}" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="0" y="8">Chat</tspan></text>
          </svg>

        </div>
        <div class="col-2  border-line p-0 m-0" [ngClass]="{active1: selectedvalue1 ==3}" (click)="SelectedTab1(3)">
          <svg id="Group_5727" data-name="Group 5727" xmlns="http://www.w3.org/2000/svg" width="22.896" height="31.851" viewBox="0 0 22.896 31.851">
            <g id="add_ic_call_black_24dp">
              <path id="Path_3809" data-name="Path 3809" d="M0,0H22.9V24H0Z" fill="none"/>
              <path id="Path_3810" data-name="Path 3810"  [ngClass]="{active1: selectedvalue1 ==3}" d="M19.218,15.45a10.384,10.384,0,0,1-3.406-.57,1.019,1.019,0,0,0-.3-.05.954.954,0,0,0-.677.29l-2.1,2.2a14.718,14.718,0,0,1-6.287-6.59l2.1-2.21a.992.992,0,0,0,.239-1,11.861,11.861,0,0,1-.544-3.57.981.981,0,0,0-.954-1H3.954A.981.981,0,0,0,3,3.95c0,9.39,7.26,17,16.218,17a.981.981,0,0,0,.954-1v-3.5a.981.981,0,0,0-.954-1ZM4.937,4.95H6.368A14.39,14.39,0,0,0,6.8,7.53L5.652,8.74a16,16,0,0,1-.716-3.79ZM18.264,18.92a13.646,13.646,0,0,1-3.625-.76l1.145-1.2a11.66,11.66,0,0,0,2.48.45ZM17.31,5.95v-3H15.4v3H12.54v2H15.4v3H17.31v-3h2.862v-2Z" transform="translate(-0.138)" fill="#214497"/>
            </g>
            <text id="Call" transform="translate(5 20.851)" fill="#565d6d" font-size="8"  [ngClass]="{active1: selectedvalue1 ==3}" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="0" y="8">Call</tspan></text>
          </svg>

        </div>
        <div class="col-2 border-line p-0 m-0"  (click)="SelectedTab1(4)">
          <svg id="Group_5726" data-name="Group 5726" xmlns="http://www.w3.org/2000/svg" width="22.896" height="31.851" viewBox="0 0 22.896 31.851">
            <g id="video_call_black_24dp">
              <path id="Path_3807" data-name="Path 3807" d="M0,0H22.9V24H0Z" fill="none"/>
              <path id="Path_3808"  [ngClass]="{active1: selectedvalue1 ==4}" data-name="Path 3808" d="M16.356,10.5V7A.981.981,0,0,0,15.4,6H3.954A.981.981,0,0,0,3,7V17a.981.981,0,0,0,.954,1H15.4a.981.981,0,0,0,.954-1V13.5l3.816,4V6.5ZM14.448,16H4.908V8h9.54ZM8.724,15h1.908V13H12.54V11H10.632V9H8.724v2H6.816v2H8.724Z" transform="translate(-0.138)" fill="#214497" [ngClass]="{active1: selectedvalue1 ==4}" />
            </g>
            <text id="Video" transform="translate(1.447 20.851)" fill="#565d6d"  [ngClass]="{active1: selectedvalue1 ==4}" font-size="8" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="0" y="8">Video</tspan></text>
          </svg>

        </div>
        <div class="col-3 border-line p-0 m-0 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g id="Group_5757" data-name="Group 5757" transform="translate(24 24) rotate(180)">
              <g id="Component_114_363" data-name="Component 114 – 363" transform="translate(24 24) rotate(-180)">
                <g id="more_vert_black_24dp_1_" data-name="more_vert_black_24dp (1)" transform="translate(0 0)">
                  <path id="Path_4100" data-name="Path 4100" d="M0,0H24V24H0Z" fill="none"/>
                  <path id="Path_4101" data-name="Path 4101" d="M2,4A2,2,0,1,0,0,2,2.006,2.006,0,0,0,2,4ZM2,6A2,2,0,1,0,4,8,2.006,2.006,0,0,0,2,6Zm0,6a2,2,0,1,0,2,2A2.006,2.006,0,0,0,2,12Z" transform="translate(10 4)" fill="#214497"/>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </div>


      <!-- 3rd row  -->
     <!-- first inital row  -->
     <div class="row mt-4 p-2">
       <div class="col-3  p-r border-line" (click)="SelectedTab2(1)" [ngClass]="{active: selectedvalue2 ==1}" >
         <p class="s text-center">Details</p>
       </div>
       <div class="col-3 m-0 p-0 border-line" (click)="SelectedTab2(2)" [ngClass]="{active: selectedvalue2 ==2}">
        <p class="s text-center">Address</p>
      </div>
      <div class="col-3 m-0 p-0 border-line" (click)="SelectedTab2(3)" [ngClass]="{active: selectedvalue2 ==3}">
        <p class="s text-center">Resume</p>
      </div>
      <div class="col-3 m-0 p-0 border-line" (click)="SelectedTab2(4)" [ngClass]="{active: selectedvalue2 ==4}">
        <p class="s text-center">Bank Account</p>
      </div>
     </div>


     <!-- tab iner div  -->
        <div class="profile-div pb-2 pl-2 pr-2">
          <div class="row img-background-height ">
            <img src="/assets/bg.jpg"  style="width: 100%; height: 100%;" alt="">


          </div>
          <div class="row ">
              <div class="col-4 justify-center">
                <div class="div-height">
                  <img src="/assets/profile3.jpg" style="width: 100%; height: 100%;" alt="">
                </div>


              </div>
              <div class="col-4">
                <p class="h-title">Darko Moskovitz</p>

              </div>
              <div class="col-4 p-0 m-0">
                <svg id="business_black_24dp" xmlns="http://www.w3.org/2000/svg" width="13.048" height="13.048" viewBox="0 0 13.048 13.048">
                  <path id="Path_4029" data-name="Path 4029" d="M0,0H13.048V13.048H0Z" fill="none"/>
                  <path id="Path_4030" data-name="Path 4030" d="M7.437,5.175V3H2v9.786H12.874V5.175ZM4.175,11.7H3.087V10.612H4.175Zm0-2.175H3.087V8.437H4.175Zm0-2.175H3.087V6.262H4.175Zm0-2.175H3.087V4.087H4.175ZM6.349,11.7H5.262V10.612H6.349Zm0-2.175H5.262V8.437H6.349Zm0-2.175H5.262V6.262H6.349Zm0-2.175H5.262V4.087H6.349ZM11.786,11.7H7.437V10.612H8.524V9.524H7.437V8.437H8.524V7.349H7.437V6.262h4.349ZM10.7,7.349H9.612V8.437H10.7Zm0,2.175H9.612v1.087H10.7Z" transform="translate(-0.913 -1.369)" fill="#214497"/>
                </svg>
                <a href="" class="h-title">InterFast Panama</a>

              </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="text-center p-title">Always at yours speed</p>

            </div>
           <div class="col-6">
             <button class=" btn-follow">Follow</button>

            </div>
          </div>
          <div class="row loresm">
            <p class="p-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor urna nunc id cursus metus aliquam eleifend. </p>
          </div>
          <!-- last inner row  -->
          <div class="row">
            <div class="col-4">
              <p class="following"> <span class="span-bold">15,70 </span> Following</p>

            </div>
            <div class="col-4">
              <p  class="following">  <span class="span-bold">15,70 </span>  Follower</p>
            </div>
            <div class="col-4 specific-top">
              <svg id="calendar_today_black_24dp" xmlns="http://www.w3.org/2000/svg" width="11.228" height="11.228" viewBox="0 0 11.228 11.228">
                <path id="Path_2619" data-name="Path 2619" d="M0,0H11.228V11.228H0Z" fill="none"/>
                <path id="Path_2620" data-name="Path 2620" d="M10.421,1.936H9.953V1H9.017v.936H4.339V1H3.4v.936H2.936A.938.938,0,0,0,2,2.871v7.485a.938.938,0,0,0,.936.936h7.485a.938.938,0,0,0,.936-.936V2.871A.938.938,0,0,0,10.421,1.936Zm0,8.421H2.936V5.21h7.485Zm0-6.082H2.936v-1.4h7.485Z" transform="translate(-1.064 -0.532)" fill="#565d6d"/>
              </svg>

              <span  class="following ">Join June 2020</span>
            </div>
          </div>
        </div>

       <!-- 4th row -->
        <!-- first inital row  -->
     <div class="row mt-4 p-2">
      <div class="col-3  p-r border-line" (click)="SelectedTab3(1)" [ngClass]="{active: selectedvalue3 ==1}" >
        <p class="s text-center">Feeds</p>
      </div>
      <div class="col-3 m-0 p-0 border-line" (click)="SelectedTab3(2)" [ngClass]="{active: selectedvalue3 ==2}">
       <p class="s text-center">Chats</p>
     </div>
     <div class="col-3 m-0 p-0 border-line" (click)="SelectedTab3(3)" [ngClass]="{active: selectedvalue3 ==3}">
       <p class="s text-center">Calls</p>
     </div>
     <div class="col-3 m-0 p-0 border-line" (click)="SelectedTab3(4)" [ngClass]="{active: selectedvalue3 ==4}">
       <p class="s text-center">Transactions</p>
     </div>
    </div>
    <!-- 5th row  -->
    <div class="profile-div">

      <div class="totalmessages mt-4 mb-4">
        <div class="recieve mt-2">
          <div class="row">
            <div class="col-10">
              <div class="row recieve-bg p-2">
                <div class="col-7">
                <p class="text-center message-p">Thanks you  </p>
                </div>
                <div class="col-5">
                  <p class="message-p">Thu 6:34 pm</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="send mt-2">
          <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
              <div class="row send-bg p-2">
                <div class="col-9">
                <p class="text-center message-p">I am calling you  </p>
                </div>
                <div class="col-3">
                  <svg id="done_all_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path id="Path_3828" data-name="Path 3828" d="M0,0H24V24H0Z" fill="none"/>
                    <path id="Path_3829" data-name="Path 3829" d="M18,7,16.59,5.59l-6.34,6.34,1.41,1.41Zm4.24-1.41L11.66,16.17,7.48,12,6.07,13.41,11.66,19l12-12ZM.41,13.41,6,19l1.41-1.41L1.83,12Z" fill="#00e1b8"/>
                  </svg>
                </div>
              </div>
              <div class="row pr-4 flex-end">
                   <p class="message-p">THu 6:34 pm</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="typemessage profile-div">
        <div class="row p-2">
          <div class="col-1 pt-2">
            <svg id="mood_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path id="Path_3832" data-name="Path 3832" d="M0,0H24V24H0Z" fill="none"/>
              <path id="Path_3833" data-name="Path 3833" d="M11.99,2A10,10,0,1,0,22,12,10,10,0,0,0,11.99,2ZM12,20a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm3.5-9A1.5,1.5,0,1,0,14,9.5,1.5,1.5,0,0,0,15.5,11Zm-7,0A1.5,1.5,0,1,0,7,9.5,1.5,1.5,0,0,0,8.5,11ZM12,17.5A5.5,5.5,0,0,0,17.11,14H6.89A5.5,5.5,0,0,0,12,17.5Z" fill="#ffb506"/>
            </svg>

          </div>
          <div class="col-7">
            <input type="text" placeholder="Hello" class="form-control border-none">

          </div>
          <div class="col-1 pt-2">
            <svg id="insert_link_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path id="Path_3796" data-name="Path 3796" d="M0,0H24V24H0Z" fill="none"/>
              <path id="Path_3797" data-name="Path 3797" d="M3.9,12A3.1,3.1,0,0,1,7,8.9h4V7H7A5,5,0,0,0,7,17h4V15.1H7A3.1,3.1,0,0,1,3.9,12ZM8,13h8V11H8Zm9-6H13V8.9h4a3.1,3.1,0,1,1,0,6.2H13V17h4A5,5,0,0,0,17,7Z" fill="#214497"/>
            </svg>


          </div>
          <div class="col-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
              <g id="Group_7122" data-name="Group 7122" transform="translate(-1268 -435)">
                <g id="Ellipse_146" data-name="Ellipse 146" transform="translate(1268 435)" fill="none" stroke="#e7e7e7" stroke-width="4">
                  <circle cx="17.5" cy="17.5" r="17.5" stroke="none"/>
                  <circle cx="17.5" cy="17.5" r="15.5" fill="none"/>
                </g>
                <path id="Path_2678" data-name="Path 2678" d="M4.01,6.03l7.51,3.22L4,8.25l.01-2.22m7.5,8.72L4,17.97V15.75l7.51-1M2.01,3,2,10l15,2L2,14l.01,7L23,12Z" transform="translate(1275.445 440)" fill="#ffb506"/>
              </g>
            </svg>

          </div>
        </div>
      </div>

    </div>



    </div>
  </div>
</div>
