<ul>
  <li [routerLink]="['/']" routerLinkActive="router-link-active" >Dashboard</li>
  <li [routerLink]="['/mapSearch']" routerLinkActive="router-link-active" >Map Search</li>
  <li [routerLink]="['/search']" routerLinkActive="router-link-active" >Search</li>
  <li [routerLink]="['/detail']" routerLinkActive="router-link-active" >Details</li>
  <li [routerLink]="['/videoDetails']" routerLinkActive="router-link-active" > Video Details</li>
  <li [routerLink]="['/gallery']" routerLinkActive="router-link-active" > gallery</li>
  <li [routerLink]="['/listing']" routerLinkActive="router-link-active" > My Listing</li>
  <li [routerLink]="['/listingStep1']" routerLinkActive="router-link-active" >  Listing step1</li>
  <li [routerLink]="['/listingStep2']" routerLinkActive="router-link-active" >  Listing step2</li>
  <li [routerLink]="['/listingStep3']" routerLinkActive="router-link-active" >  Listing step3</li>
  <li [routerLink]="['/listingStep4']" routerLinkActive="router-link-active" >  Listing step4</li>
  <li [routerLink]="['/listingStep5']" routerLinkActive="router-link-active" >  Listing step5</li>
  <li [routerLink]="['/listingStep6']" routerLinkActive="router-link-active" >  Listing step6</li>
  <li [routerLink]="['/listingReport']" routerLinkActive="router-link-active" >  Listing Report</li>

</ul>
