<div class="container-fluid">
  <div class="col-md-8">
    <app-search-bar></app-search-bar>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path id="Path_4129" data-name="Path 4129" d="M20,11H7.83l5.59-5.59L12,4,4,12l8,8,1.41-1.41L7.83,13H20Z"
          transform="translate(-4 -4)" fill="#214497" />
      </svg>

    </div>
    <div class="col-md-5 ">
      <div class="row   mb-2">
        <div class="col-2 border-line p-bottom">
          <svg class="svg-margin" id="location_on_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <path id="Path_4195" data-name="Path 4195" d="M0,0H24V24H0Z" fill="none" />
            <path id="Path_4196" data-name="Path 4196"
              d="M12,2A7,7,0,0,0,5,9c0,5.25,7,13,7,13s7-7.75,7-13A7,7,0,0,0,12,2ZM7,9A5,5,0,0,1,17,9c0,2.88-2.88,7.19-5,9.88C9.92,16.21,7,11.85,7,9Z"
              fill="#214497" />
            <circle id="Ellipse_174" data-name="Ellipse 174" cx="2.5" cy="2.5" r="2.5" transform="translate(9.5 6.5)"
              fill="#214497" />
          </svg>
          <span class="bg-color s">Florida</span>

        </div>
        <div class="col-2 border-line p-bottom">
          <svg class="svg-margin" id="wireframe-icon-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <rect id="Rectangle_64" data-name="Rectangle 64" width="24" height="24" fill="#7fc4fd" opacity="0" />
            <path id="Union_11" data-name="Union 11"
              d="M30.707-3.565a1,1,0,0,1,0-1.414l4.949-4.95-4.949-4.95a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0l5.657,5.656a1,1,0,0,1,.293.707,1,1,0,0,1-.293.707L32.121-3.565a1,1,0,0,1-.707.293A1,1,0,0,1,30.707-3.565Z"
              transform="translate(-22.071 21.929)" fill="#214497" />
          </svg>
          <span class="bg-color">Miami</span>

        </div>
        <div class="col-2 border-line p-bottom">
          <svg class="svg-margin" id="wireframe-icon-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <rect id="Rectangle_64" data-name="Rectangle 64" width="24" height="24" fill="#ffb506" opacity="0" />
            <path id="Union_11" data-name="Union 11"
              d="M30.707-3.565a1,1,0,0,1,0-1.414l4.949-4.95-4.949-4.95a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0l5.657,5.656a1,1,0,0,1,.293.707,1,1,0,0,1-.293.707L32.121-3.565a1,1,0,0,1-.707.293A1,1,0,0,1,30.707-3.565Z"
              transform="translate(-22.071 21.929)" fill="#ffb506" />
          </svg>
          <span class="bg-color s">30101</span>

        </div>
        <div class="col-4 border-line2 p-bottom">
          <svg class="svg-margin" id="wireframe-icon-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <rect id="Rectangle_64" data-name="Rectangle 64" width="24" height="24" fill="#214497" opacity="0" />
            <path id="Union_11" data-name="Union 11"
              d="M30.707-3.565a1,1,0,0,1,0-1.414l4.949-4.95-4.949-4.95a1,1,0,0,1,0-1.414,1,1,0,0,1,1.414,0l5.657,5.656a1,1,0,0,1,.293.707,1,1,0,0,1-.293.707L32.121-3.565a1,1,0,0,1-.707.293A1,1,0,0,1,30.707-3.565Z"
              transform="translate(-22.071 21.929)" fill="#214497" />
          </svg>
          <span class="s">101236 Sunset Brand</span>

        </div>
        <div class="col-2 border-line2 p-bottom">
          <svg class="svg-margin f-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <g id="Group_5757" data-name="Group 5757" transform="translate(19.408 20) rotate(180)">
              <g id="Component_114_363" data-name="Component 114 – 363" transform="translate(19.408 20) rotate(-180)">
                <g id="more_vert_black_24dp_1_" data-name="more_vert_black_24dp (1)">
                  <path id="Path_4100" data-name="Path 4100" d="M0,0H24V24H0Z" fill="none" />
                  <path id="Path_4101" data-name="Path 4101"
                    d="M12,8a2,2,0,1,0-2-2A2.006,2.006,0,0,0,12,8Zm0,2a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Zm0,6a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,16Z"
                    fill="#214497" />
                </g>
              </g>
            </g>
          </svg>

        </div>
      </div>
      <!-- 2nd part  -->
      <div class="row">

        <div class="col-md-8 pr-1 pl-0">
          <div class="img-div ">
            <svg id="photo_camera_black_24dp" xmlns="http://www.w3.org/2000/svg" width="94.728" height="94.728"
              viewBox="0 0 94.728 94.728">
              <path id="Path_4057" data-name="Path 4057" d="M0,0H94.728V94.728H0Z" fill="none" />
              <path id="Path_4058" data-name="Path 4058"
                d="M49.838,9.894l7.223,7.894H73.046V65.152H9.894V17.788H25.879L33.1,9.894H49.838M53.311,2H29.629L22.406,9.894H9.894A7.917,7.917,0,0,0,2,17.788V65.152a7.917,7.917,0,0,0,7.894,7.894H73.046a7.917,7.917,0,0,0,7.894-7.894V17.788a7.917,7.917,0,0,0-7.894-7.894H60.534ZM41.47,29.629A11.841,11.841,0,1,1,29.629,41.47,11.876,11.876,0,0,1,41.47,29.629m0-7.894A19.735,19.735,0,1,0,61.2,41.47,19.742,19.742,0,0,0,41.47,21.735Z"
                transform="translate(5.894 5.894)" fill="#e7e7e7" />
            </svg>
            <!-- small icon  -->
            <div class="svg1">
              <svg id="grade_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_4278" data-name="Path 4278" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_4279" data-name="Path 4279" d="M12,7.13l.97,2.29.47,1.11,1.2.1,2.47.21-1.88,1.63-.91.79.27,1.18.56,2.41-2.12-1.28L12,14.93l-1.03.62L8.85,16.83l.56-2.41.27-1.18-.91-.79L6.89,10.82l2.47-.21,1.2-.1.47-1.11L12,7.13M12,2,9.19,8.63,2,9.24l5.46,4.73L5.82,21,12,17.27,18.18,21l-1.64-7.03L22,9.24l-7.19-.61Z" fill="#214497"/>
              </svg>
              <p class="count">3000</p>

            </div>
            <div class="svg2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_3369" data-name="Group 3369" transform="translate(0 0.424)">
                  <g id="Icon_-_Facebook" data-name="Icon - Facebook">
                    <rect id="background" width="24" height="24" rx="4" transform="translate(0 -0.424)" fill="#fff"/>
                  </g>
                  <path id="youtube" d="M11.578-4.7a1.535,1.535,0,0,0-1.042-1.113,32.414,32.414,0,0,0-4.625-.27,33.675,33.675,0,0,0-4.625.26A1.567,1.567,0,0,0,.244-4.7,17.781,17.781,0,0,0,0-1.661,17.716,17.716,0,0,0,.244,1.376,1.535,1.535,0,0,0,1.286,2.489a32.473,32.473,0,0,0,4.625.27,33.675,33.675,0,0,0,4.625-.26,1.535,1.535,0,0,0,1.042-1.113,17.787,17.787,0,0,0,.243-3.037A16.879,16.879,0,0,0,11.578-4.7ZM4.733.232V-3.554L7.81-1.661Zm0,0" transform="translate(5.878 13.45)" fill="#214497"/>
                </g>
              </svg>

            </div>
            <div class="svg3">
              <svg id="photo_camera_black_24dp" xmlns="http://www.w3.org/2000/svg" width="23.287" height="23.287" viewBox="0 0 23.287 23.287">
                <path id="Path_4057" data-name="Path 4057" d="M0,0H23.287V23.287H0Z" fill="none"/>
                <path id="Path_4058" data-name="Path 4058" d="M13.76,3.941l1.776,1.941h3.93V17.525H3.941V5.881H7.87L9.646,3.941H13.76M14.614,2H8.792L7.016,3.941H3.941A1.946,1.946,0,0,0,2,5.881V17.525a1.946,1.946,0,0,0,1.941,1.941H19.465a1.946,1.946,0,0,0,1.941-1.941V5.881a1.946,1.946,0,0,0-1.941-1.941H16.389ZM11.7,8.792A2.911,2.911,0,1,1,8.792,11.7,2.919,2.919,0,0,1,11.7,8.792m0-1.941A4.851,4.851,0,1,0,16.554,11.7,4.853,4.853,0,0,0,11.7,6.851Z" transform="translate(-0.059 -0.059)" fill="#214497"/>
              </svg>
              <p class="count">35</p>
            </div>
            <div class="svg4">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="5" viewBox="0 0 35 5">
                <g id="Group_7089" data-name="Group 7089" transform="translate(-411 -439)">
                  <g id="Ellipse_175" data-name="Ellipse 175" transform="translate(411 439)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
                    <circle cx="2.5" cy="2.5" r="2.5" stroke="none"/>
                    <circle cx="2.5" cy="2.5" r="2" fill="none"/>
                  </g>
                  <g id="Ellipse_176" data-name="Ellipse 176" transform="translate(421 439)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
                    <circle cx="2.5" cy="2.5" r="2.5" stroke="none"/>
                    <circle cx="2.5" cy="2.5" r="2" fill="none"/>
                  </g>
                  <g id="Ellipse_177" data-name="Ellipse 177" transform="translate(431 439)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
                    <circle cx="2.5" cy="2.5" r="2.5" stroke="none"/>
                    <circle cx="2.5" cy="2.5" r="2" fill="none"/>
                  </g>
                  <g id="Ellipse_178" data-name="Ellipse 178" transform="translate(441 439)" fill="#bfbfbf" stroke="#bfbfbf" stroke-width="1">
                    <circle cx="2.5" cy="2.5" r="2.5" stroke="none"/>
                    <circle cx="2.5" cy="2.5" r="2" fill="none"/>
                  </g>
                </g>
              </svg>

            </div>


          </div>
        </div>
        <div class="col-md-4">
          <div class="img1 row">
            <svg id="photo_camera_black_24dp" xmlns="http://www.w3.org/2000/svg" width="57.035" height="57.035" viewBox="0 0 57.035 57.035">
              <path id="Path_4057" data-name="Path 4057" d="M0,0H57.035V57.035H0Z" fill="none"/>
              <path id="Path_4058" data-name="Path 4058" d="M30.8,6.753l4.349,4.753h9.625V40.023H6.753V11.506h9.625l4.349-4.753H30.8M32.894,2H18.635L14.286,6.753H6.753A4.767,4.767,0,0,0,2,11.506V40.023a4.767,4.767,0,0,0,4.753,4.753H44.776a4.767,4.767,0,0,0,4.753-4.753V11.506a4.767,4.767,0,0,0-4.753-4.753H37.243ZM25.765,18.635a7.129,7.129,0,1,1-7.129,7.129,7.15,7.15,0,0,1,7.129-7.129m0-4.753A11.882,11.882,0,1,0,37.647,25.765,11.887,11.887,0,0,0,25.765,13.882Z" transform="translate(2.753 2.753)" fill="#e7e7e7"/>
            </svg>


          </div>
          <div class="img1 mt-2 row">
            <svg id="photo_camera_black_24dp" xmlns="http://www.w3.org/2000/svg" width="57.035" height="57.035" viewBox="0 0 57.035 57.035">
              <path id="Path_4057" data-name="Path 4057" d="M0,0H57.035V57.035H0Z" fill="none"/>
              <path id="Path_4058" data-name="Path 4058" d="M30.8,6.753l4.349,4.753h9.625V40.023H6.753V11.506h9.625l4.349-4.753H30.8M32.894,2H18.635L14.286,6.753H6.753A4.767,4.767,0,0,0,2,11.506V40.023a4.767,4.767,0,0,0,4.753,4.753H44.776a4.767,4.767,0,0,0,4.753-4.753V11.506a4.767,4.767,0,0,0-4.753-4.753H37.243ZM25.765,18.635a7.129,7.129,0,1,1-7.129,7.129,7.15,7.15,0,0,1,7.129-7.129m0-4.753A11.882,11.882,0,1,0,37.647,25.765,11.887,11.887,0,0,0,25.765,13.882Z" transform="translate(2.753 2.753)" fill="#e7e7e7"/>
            </svg>

          </div>

        </div>
        <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery> -->




      </div>
      <!-- 3rd part  -->
      <div class="row row-border mt-4">
        <div class="col-md-3 m-0 p-0">
          <span class="price-span">$ 269,000</span>
          <svg class="ml-4" id="trending_up_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24">
            <path id="Path_4298" data-name="Path 4298" d="M0,0H24V24H0Z" fill="none" />
            <path id="Path_4299" data-name="Path 4299"
              d="M16,6l2.29,2.29-4.88,4.88-4-4L2,16.59,3.41,18l6-6,4,4,6.3-6.29L22,12V6Z" fill="#00e1b8" />
          </svg>


        </div>
        <div class="col-md-3">
          <p class="s">Year Built 1970</p>

        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-2 ml-2">
              <svg id="Group_7057" data-name="Group 7057" xmlns="http://www.w3.org/2000/svg" width="24" height="31.851"
                viewBox="0 0 24 31.851">
                <g id="message_black_24dp">
                  <path id="Path_4020" data-name="Path 4020" d="M0,0H24V24H0Z" fill="none" />
                  <path id="Path_4021" data-name="Path 4021"
                    d="M4,4H20V16H5.17L4,17.17V4M4,2A2,2,0,0,0,2.01,4L2,22l4-4H20a2.006,2.006,0,0,0,2-2V4a2.006,2.006,0,0,0-2-2ZM6,12H18v2H6ZM6,9H18v2H6ZM6,6H18V8H6Z"
                    fill="#214497" />
                </g>
                <text id="Chat" transform="translate(4 20.851)" fill="#565d6d" font-size="8"
                  font-family="SourceSansPro-Regular, Source Sans Pro">
                  <tspan x="0" y="8">Chat</tspan>
                </text>
              </svg>

            </div>
            <div class="col-2 ml-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="31" viewBox="0 0 19 31">
                <g id="Group_7075" data-name="Group 7075" transform="translate(-3 -1.926)">
                  <text id="Tour" transform="translate(3 21.926)" fill="#565d6d" font-size="8"
                    font-family="SourceSansPro-Regular, Source Sans Pro">
                    <tspan x="0" y="8">Tour</tspan>
                  </text>
                  <path id="Path_4293" data-name="Path 4293"
                    d="M7,11H9v2H7ZM21,6V20a2.006,2.006,0,0,1-2,2H5a2,2,0,0,1-2-2L3.01,6A1.991,1.991,0,0,1,5,4H6V2H8V4h8V2h2V4h1A2.006,2.006,0,0,1,21,6ZM5,8H19V6H5ZM19,20V10H5V20Zm-4-7h2V11H15Zm-4,0h2V11H11Z"
                    transform="translate(0 -0.074)" fill="#214497" />
                </g>
              </svg>

            </div>
            <div class="col-2 ml-2">
              <svg id="Group_7061" data-name="Group 7061" xmlns="http://www.w3.org/2000/svg" width="24" height="32.926"
                viewBox="0 0 24 32.926">
                <text id="Share" transform="translate(2 21.926)" fill="#565d6d" font-size="8"
                  font-family="SourceSansPro-Regular, Source Sans Pro">
                  <tspan x="0" y="8">Share</tspan>
                </text>
                <g id="share_black_24dp" transform="translate(0)">
                  <path id="Path_4186" data-name="Path 4186" d="M0,0H24V24H0Z" fill="none" />
                  <path id="Path_4187" data-name="Path 4187"
                    d="M18,16.08a2.912,2.912,0,0,0-1.96.77L8.91,12.7A3.274,3.274,0,0,0,9,12a3.274,3.274,0,0,0-.09-.7l7.05-4.11A2.993,2.993,0,1,0,15,5a3.274,3.274,0,0,0,.09.7L8.04,9.81a3,3,0,1,0,0,4.38l7.12,4.16a2.821,2.821,0,0,0-.08.65A2.92,2.92,0,1,0,18,16.08ZM18,4a1,1,0,1,1-1,1A1,1,0,0,1,18,4ZM6,13a1,1,0,1,1,1-1A1,1,0,0,1,6,13Zm12,7.02a1,1,0,1,1,1-1A1,1,0,0,1,18,20.02Z"
                    fill="#214497" />
                </g>
              </svg>

            </div>
            <div class="col-2 ml-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="35" viewBox="0 0 24 35">
                <g id="Group_7073" data-name="Group 7073" transform="translate(-478.498 -464)">
                  <text id="Save" transform="translate(482.412 488)" fill="#565d6d" font-size="8"
                    font-family="SourceSansPro-Regular, Source Sans Pro">
                    <tspan x="0" y="8">Save</tspan>
                  </text>
                  <g id="grade_black_24dp" transform="translate(478.498 464)">
                    <path id="Path_4278" data-name="Path 4278" d="M0,0H24V24H0Z" fill="none" />
                    <path id="Path_4279" data-name="Path 4279"
                      d="M12,7.13l.97,2.29.47,1.11,1.2.1,2.47.21-1.88,1.63-.91.79.27,1.18.56,2.41-2.12-1.28L12,14.93l-1.03.62L8.85,16.83l.56-2.41.27-1.18-.91-.79L6.89,10.82l2.47-.21,1.2-.1.47-1.11L12,7.13M12,2,9.19,8.63,2,9.24l5.46,4.73L5.82,21,12,17.27,18.18,21l-1.64-7.03L22,9.24l-7.19-.61Z"
                      fill="#214497" />
                  </g>
                </g>
              </svg>

            </div>
            <div class="col-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_7066" data-name="Group 7066" transform="translate(24 24) rotate(180)">
                  <g id="Component_114_363" data-name="Component 114 – 363" transform="translate(24 24) rotate(-180)">
                    <g id="more_vert_black_24dp_1_" data-name="more_vert_black_24dp (1)" transform="translate(0 0)">
                      <path id="Path_4100" data-name="Path 4100" d="M0,0H24V24H0Z" fill="none" />
                      <path id="Path_4101" data-name="Path 4101"
                        d="M2,4A2,2,0,1,0,0,2,2.006,2.006,0,0,0,2,4ZM2,6A2,2,0,1,0,4,8,2.006,2.006,0,0,0,2,6Zm0,6a2,2,0,1,0,2,2A2.006,2.006,0,0,0,2,12Z"
                        transform="translate(10 4)" fill="#214497" />
                    </g>
                  </g>
                </g>
              </svg>

            </div>

          </div>

        </div>
      </div>

      <!-- 4th part  -->
      <div class="row mt-2">
        <div class="col-md-6">
          <p class="s">10216 Sunset Bend Dr Miami, FL 40383</p>

        </div>
        <div class="col-md-6">
          <p class="s">Owner: Darko Moskovitz</p>

        </div>
      </div>
      <!-- 5th part  -->
      <div class="row mt-2">
        <div class="col-md-6">
          <p class="s title">2 BedRoom , 2 badroom , 1972sqft</p>

        </div>
        <div class="col-md-6">
          <p class="s f-right">@ darko Moskovitz</p>

        </div>
      </div>
      <!-- 6th part  -->
      <div class="row mt-2">
        <p class="s">Discription</p>
        <span class="s span-size">
          STUNNING HOME 3 BEDROOMS, PLUS LOFT , 2.5 BATHS , MASTER BEDROOM ON THE GROUND FLOOR , COMPLETELY REMODELED IN
          A CONTEMPORARY LOOK , MODERN KITCHEN WITH STAINLESS STEEL APPLIANCES, GAS COOKTOP , NEW VINYL FLOOR , VOLUME
          CEILING, BEAUTIFUL POOL , YOU WILL LOVE THIS HOUSE !!
        </span>
      </div>
      <!-- 7th part  -->
      <div class="row row-border mt-2">
        <div class="col-md-6">
          <p class="s s-last">Amenities</p>

        </div>
        <div class="col-md-6">
          <p class="s f-right s-last">Property # 123231423423</p>

        </div>
      </div>
      <!-- 8th part  -->
      <div class="row mt-3">
        <div class="col-4" *ngFor="let tag of tags">
          <p class="s s-last">{{tag.name}}</p>
        </div>
      </div>

    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>
