.bg-color {
  color:#BFBFBF;
  padding-top: 8px;
  font-size: 14px;
}
.svg-margin {
  margin-bottom: -5px;
}
.ngx-gallery { display: inline-block; margin-bottom: 20px; }
.price-span {
  color: #565D6D;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.s {
 color: #565D6D;
 font-family: Source Sans Pro;
}
.border-line {
  border-bottom:3px solid #FFB506
}
.border-line2 {
  border-bottom:3px solid rgb(33, 33, 161)
}
.f-right {
  float: right;
}
.row-border {
  border-bottom: 2px solid #BFBFBF;
}
.s-last {
  font-size: 16px;

    font-weight: 500;

}
.title {
  font-size: 18px;

  font-weight: bold;
}
.span-size {
  font-size: 13px;
}
.star-btn {
  position: relative;
  top: -156px;
    float: right;

}
.youtube-btn {
  position: relative;
  bottom: 46px;
  float: left;
  left: 0;

}


.camera-btn {
  position: relative;
  bottom: 41px;
  float: right;
  left: 22px;

}
.s {
  font-family: Source Sans Pro;
  color:#565D6D;
}
.img-div {

  height: 300px;
  position: relative;
  border:2px solid lightgray;
  border-radius:6px;
  display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.svg1 {
  position: absolute;
  top: 15px;
    right: 15px;

}
.svg2 {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.svg3 {
  position: absolute;
  bottom: -10px;
  right: 15px;
}
.svg4 {
  position: absolute;
  bottom: 5px;
  justify-content: center;
  text-align: center;

}
.count {
  padding: 0 !important;
  font-size: 8px;
  font-family: Source Sans Pro;
  color: #565D6D;
  text-align: center;
  margin-top: 0 !important;


}
.img1 {

  height: 146px;
  position: relative;
  border:2px solid lightgray;
  border-radius:6px;
  display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.p-bottom {
  padding-bottom: 8px;
}
