agm-map {
  height: 100vh;
  width: 100%;
}
.custom-bg {
  background: white;
  border-radius: 10px;

}
.float-center {
  position: absolute;
  top: 30%;

}
.specifc-way {
  position: relative;
}
.abc-center {
  justify-content: center;
  display: flex;
}
.border-none {
  border:none
}
.active {
  border:1px solid orange;
}
.s {
  color: #565D6D;
  font-family: Source Sans Pro;
  font-size: 16px;
}
.sp {
  color:#565D6D;
  font-weight: 500;
  font-family:Source Sans Pro ;

}
.float-right {
  float: right;
}
.button-back {
  padding: 10px 35px;
    background: white;
    color: #214497;
    border-radius: 5px;
    border: none;
    font-weight: 700;

}
.back-button {
  position: absolute;
  bottom: 5%;
  left: 1%;

}
.border-line {
  border-bottom:3px solid #214497;
}
.border-line-select {
  border-bottom:3px solid #FFB506;
}
.dot {
  float: right;
  height: 10px;
  width: 10px;
  background-color: #214497;
  border-radius: 50%;
  margin-bottom: -13px !important;
  margin-top: 23px !important;
}
.dot1 {
  float: right;
  height: 10px;
  width: 10px;
  background-color: #FFB506;
  border-radius: 50%;
  margin-bottom: -13px !important;
  margin-top: 23px !important;

}
.dot11 {
  float: right;
  height: 10px;
  width: 10px;
  background-color: #FFB506;
  border-radius: 50%;
  margin-bottom: -13px !important;
  margin-top: 23px !important;
  position: absolute;
  right: 0px;

}
.float-top {

  top: 5%;
  left: 0%;
}
.float-top1 {
  top: 8%;
  position: relative;
  left: -2%;


}
.float-top2 {
  top: 10%;
  left: 2%;
}
.input-style {
  width: 100%;
  padding: 4px 6px 21px 10px;
  border-radius: 6px;
  border: 2px solid #E7E7E7;
}
.input-style-select {
  width: 100%;
  padding: 4px 6px 21px 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left:2px solid #E7E7E7 ;
  border-top:2px solid #E7E7E7 ;
  border-bottom:2px solid #E7E7E7 ;
  border-right: none;
  // border: 2px solid #E7E7E7;
}
.input-style-select-input {
  width: 100%;
  padding: 4px 6px 21px 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right:2px solid #E7E7E7 ;
  border-top:2px solid #E7E7E7 ;
  border-bottom:2px solid #E7E7E7 ;
  border-left: 1px  solid #E7E7E7;
}
.provicy-text {
  font-size: 10px !important;
}
.dsiplay-center {
  justify-content: center;
}
.btn-next {
  color: white;
  font-weight: 600;
  background: #FFB506;
  padding: 6px 34px;
  border: none;
  border-radius: 4px;
}
.float-right {
  justify-content: flex-end;
  display: flex;
}
.btn-previous {
  background: #214497;
  padding: 6px 12px;
  color: white;
  border: none;
  border-radius: 4px;
}
.last-step {
  position: absolute;
    bottom: -11px;
}
.postion-relative {
  position: relative;
}
.postion-absoulte {
  position: absolute;
}
.span-checkbox {
  font-size: 12px;
  font-family: Source Sans Pro;
  color: #565D6D
}
input.larger {
  transform: scale(2);
  margin: 10px;
  border: 2px solid #E7E7E7 !important;
}
.btn-custom {
  background: transparent;
  border: none;
}
.row-border {
  border: 1px solid lightgray;
  justify-content: center;
  display: flex;
  min-height: 116px ;
}
.input-style {
  width: 100%;
  padding: 4px 6px 21px 10px;
  border-radius: 6px;
  border: 2px solid #E7E7E7;
}
.s {
  color: #565D6D;
  font-family: Source Sans Pro;
  font-size: 12px;
}
.f-center {
  justify-content: center;
  display: flex;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  color:#2A99FB;
  text-decoration: underline;
  text-decoration-color: #2A99FB;
  cursor: pointer;
}
.regular-checkbox {
  top: 6px;
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 8px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color:white;
	border: 2px solid #0A7FEB;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #0A7FEB !important;
}
.regular-checkbox:checked:after {
  content: "✓";
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: -3px;
  left: 2px;
  color: #0A7FEB !important;

}
