<div class="container-fluid">
  <div class="col-md-6">
    <div class="col-12 float-top">
      <h4>My Listings</h4>
    </div>
    <div class="float-top1">
      <svg id="arrow_back_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path id="Path_4128" data-name="Path 4128" d="M0,0H24V24H0Z" fill="none"/>
        <path id="Path_4129" data-name="Path 4129" d="M20,11H7.83l5.59-5.59L12,4,4,12l8,8,1.41-1.41L7.83,13H20Z" fill="#214497"/>
      </svg>

    </div>

       <!-- 2nd row  -->
       <div class="container-fluid float-top2">
         <div class="row">
           <div class="col-md-12">
             <p class="p-0 m-0 s postion-absoulte">Photos</p>
            <div class="row">
              <div class="col-2 border-line-select m-0 p-0">

                <span class="dot1 p-0 m-0"></span>
              </div>
              <div class="col-3 border-line-select m-0 p-0">

               <span class="dot1 p-0 m-0"></span>
              </div>
              <div class="col-3 border-line-select m-0 p-0">

               <span class="dot1 p-0 m-0"></span>
             </div>
             <div class="col-2 border-line-select m-0 p-0">

               <span class="dot1 p-0 m-0"></span>
             </div>
              <div class="col-1 postion-relative  border-line-select flex-end">
                <span class="dot11 p-0 m-0"></span>
                <div class="last-step">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <g id="Group_7242" data-name="Group 7242" transform="translate(14787 5002)">
                      <g id="Ellipse_180" data-name="Ellipse 180" transform="translate(-14782 -4997)" fill="#ffb506" stroke="#ffb506" stroke-width="1">
                        <circle cx="3" cy="3" r="3" stroke="none"/>
                        <circle cx="3" cy="3" r="2.5" fill="none"/>
                      </g>
                      <g id="Ellipse_181" data-name="Ellipse 181" transform="translate(-14787 -5002)" fill="rgba(255,181,6,0.32)" stroke="#ffb506" stroke-width="1">
                        <circle cx="8" cy="8" r="8" stroke="none"/>
                        <circle cx="8" cy="8" r="7.5" fill="none"/>
                      </g>
                    </g>
                  </svg>

                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <g id="Group_5757" data-name="Group 5757" transform="translate(24 24) rotate(180)">
                    <g id="Component_114_374" data-name="Component 114 – 374" transform="translate(24 24) rotate(-180)">
                      <g id="more_vert_black_24dp_1_" data-name="more_vert_black_24dp (1)">
                        <path id="Path_4100" data-name="Path 4100" d="M0,0H24V24H0Z" fill="none"/>
                        <path id="Path_4101" data-name="Path 4101" d="M12,8a2,2,0,1,0-2-2A2.006,2.006,0,0,0,12,8Zm0,2a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,10Zm0,6a2,2,0,1,0,2,2A2.006,2.006,0,0,0,12,16Z" fill="#214497"/>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
            </div>
           </div>
         </div>
       </div>

       <!-- 3rd row  -->
       <div class="row f-center mt-4 pl-3 pr-3">
        <div class="row-border col-md-12" >
          <button class="btn-custom"  appImageDrag (files)="filesDropped($event)">
            <svg id="field_upload_image" data-name="field upload image" xmlns="http://www.w3.org/2000/svg" width="127" height="76.902" viewBox="0 0 127 76.902">
              <g id="Group_6662" data-name="Group 6662" transform="translate(-3 -5.221)">
                <text id="Add_at_least_5_photos" data-name="Add at least 5 photos" transform="translate(3 55.172)" fill="#565d6d" font-size="8" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="28.824" y="8">Add at least 5 photos</tspan></text>
                <g id="cloud_upload_black_24dp" transform="translate(42 5.221)">
                  <path id="Path_2009" data-name="Path 2009" d="M0,0H49V49H0Z" fill="none"/>
                  <path id="Path_2010" data-name="Path 2010" d="M39.506,19.477C38.118,10.637,31.932,4,24.5,4,18.6,4,13.475,8.2,10.923,14.352,4.778,15.172,0,21.707,0,29.625,0,38.107,5.492,45,12.25,45H38.792C44.427,45,49,39.26,49,32.188,49,25.422,44.815,19.939,39.506,19.477Zm-.715,20.4H12.25c-4.512,0-8.167-4.587-8.167-10.25,0-5.253,3.124-9.635,7.268-10.173l2.185-.282,1.021-2.434c1.94-4.689,5.737-7.611,9.943-7.611,5.349,0,9.963,4.766,11,11.352l.612,3.844,3.124.282c3.185.256,5.676,3.613,5.676,7.585C44.917,36.416,42.16,39.875,38.792,39.875ZM16.333,27.063H21.54V34.75H27.46V27.063h5.206L24.5,16.813Z" fill="#214497"/>
                </g>
                <text id="Drag_your_photos_here" data-name="Drag your photos here" transform="translate(3 69.123)" fill="#565d6d" font-size="8" font-family="SourceSansPro-Regular, Source Sans Pro"><tspan x="26.576" y="8">Drag your photos here</tspan></text>
              </g>
            </svg>

           </button>
        </div>

         <div >
          <div class="row" >
            <div class="col-md-3 mt-4" *ngFor="let file of uploadedFiles">
              <img [src]="file.url" style="width: 100px; height: 100px;" />
            </div>

          </div>
      </div>
       </div>
       <!-- 4th row  -->
       <div class="row">
        <div class="col-md-6">
          <label class="s" >Add Youtube Link</label>
          <input type="text" placeholder="Copy and Paste the link there" class="input-style">
        </div>
        <div class="col-md-6">
          <label class="s" >Upload Video</label>
          <label for="file-upload" class="custom-file-upload input-style">
             Click to upload video
        </label>
        <input id="file-upload" type="file"/>
        </div>
      </div>
    <!-- 5th row  -->
   <div class="mt-4">
     <label class="s pb-0 mb-0">Have any of these safety items?</label>
     <div class="row">

      <div class="col-md-3 mt-3 " *ngFor="let item of listofCheckboxes">
        <input type="checkbox" class="regular-checkbox" checked  [(ngModel)]="item.value" name="chk-{{item.value}}"> <span class=" span-checkbox ml-4 ">{{item.label}}</span>
      </div>

</div>
   </div>

   <!-- 6th row  -->
   <div class="from-row row mt-4">
     <div class="form-group col">
      <label class="s" >Discription</label>
      <input type="text" placeholder="Add" class="input-style">

     </div>

   </div>








         <!-- 6th row  -->
         <div class="row  mt-4">
          <div class="col-6 ">
            <button class="btn-previous mr-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_3322" data-name="Group 3322" transform="translate(-8 -8)">
                  <g id="Icon_-_Chevron_Left_" data-name="Icon - Chevron (Left)" transform="translate(8 8)">
                    <rect id="Rectangle_64" data-name="Rectangle 64" width="24" height="24" fill="#fff" opacity="0"/>
                    <path id="Union_11" data-name="Union 11" d="M.293,13.021a1,1,0,0,1,0-1.415l4.95-4.95L.293,1.707A1,1,0,0,1,1.707.293L7.364,5.95a1,1,0,0,1,0,1.414L1.707,13.021a1,1,0,0,1-1.415,0Z" transform="translate(16 18.657) rotate(180)" fill="#fff"/>
                  </g>
                </g>
              </svg>
            </button>
          </div>
          <div class="col-6 float-right">
            <button class="btn-next mr-4">Done</button>
          </div>
        </div>
  </div>



</div>
