.icn

{
    height: 40px; 
    width: 40px; 
    border: 2px solid gainsboro; 
    padding-top: 10px;
    color: rgb(196, 196, 196);
}

.light-e7
{
    color: #e7e7e7;
}

#footer
{
    transition: .7s;
}

.scan
{
    padding:9px; 
    height: 65px; 
    width: 65px; 
    top: -30px; 
    left: calc(50% - 32.5px); 
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.4);
}

.ml-6
{
    margin-left: 2.2rem;
}